# === SERVER ===
# Database Configuration
DATABASE_URL=postgresql+asyncpg://postgres.[ref]:[password]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres

# Security Configuration
SECRET_KEY=your_super_secret_key_for_jwt_signing

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Gemini AI API Configuration
GEMINI_API_KEY=your_gemini_api_key

# CORS / Frontend URL
FRONTEND_URL=http://localhost:5173


# === WEB ===
VITE_API_URL=http://localhost:8000


